@model dotnetapp.Models.FoodOrder

<h1>Savoring Memories: Bid Farewell to a Culinary Masterpiece</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Hold on! You're about to delete a culinary delight from your menu. Are you absolutely sure?</p>
    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
</form>
