    <form [formGroup]="newItemForm" (ngSubmit)="addItem()">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" formControlName="itemName" required>
    <div *ngIf="newItemForm.get('itemName').hasError('required') && newItemForm.get('itemName').touched">
      Item Name is required.
    </div>
  
    <label for="itemDescription">Item Description:</label>
    <input type="text" id="itemDescription" formControlName="itemDescription" required>
    <div *ngIf="newItemForm.get('itemDescription').hasError('required') && newItemForm.get('itemDescription').touched">
      Item Description is required.
    </div>
  
    <label for="price">Price:</label>
    <input type="number" id="price" formControlName="price" required>
    <div *ngIf="newItemForm.get('price').hasError('required') && newItemForm.get('price').touched">
      Price is required.
    </div>
    <div *ngIf="newItemForm.get('price').hasError('min') && newItemForm.get('price').touched">
      Price must be greater than or equal to 0.
    </div>
  
    <label for="quantityAvailable">Quantity Available:</label>
    <input type="number" id="quantityAvailable" formControlName="quantityAvailable" required>
    <div *ngIf="newItemForm.get('quantityAvailable').hasError('required') && newItemForm.get('quantityAvailable').touched">
      Quantity Available is required.
    </div>
    <div *ngIf="newItemForm.get('quantityAvailable').hasError('min') && newItemForm.get('quantityAvailable').touched">
      Quantity Available must be greater than or equal to 0.
    </div>
  
    <label for="category">Category:</label>
    <input type="text" id="category" formControlName="category" required>
    <div *ngIf="newItemForm.get('category').hasError('required') && newItemForm.get('category').touched">
      Category is required.
    </div>
  
    <button type="submit" [disabled]="newItemForm.invalid">Add Item</button>
  </form>
  