<div>
  <h2>Schedule Details</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Schedule ID</th>
        <th>Full Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Pickup Day</th>
        <th>Pickup Time Slot</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules" class="schedule-item">
        <td>{{ schedule.id }}</td>
        <td>{{ schedule.fullName }}</td>
        <td>{{ schedule.mobileNumber }}</td>
        <td>{{ schedule.email }}</td>
        <td>{{ schedule.address }}</td>
        <td>{{ schedule.pickupDay }}</td>
        <td>{{ schedule.pickupTimeSlot }}</td>
      </tr>
    </tbody>
  </table>
</div>
