<div class="container mt-3">
  <h2 class="dashboard-header">View Blogs</h2>
  <div *ngFor="let blog of blogs" class="card mb-3 blog-card">
    <div class="card-body">
      <h5 class="card-title">{{ blog.blogSubject }}</h5>
      <p class="card-text">{{ blog.blogContent }}</p>
      <p class="card-text"><strong>Author:</strong> {{ blog.authorName }}</p>
      <p class="card-text"><strong>Category:</strong> {{ blog.blogCategory }}</p>
      <p class="card-text"><strong>Date:</strong> {{ blog.postedDate | date }}</p>
    </div>
  </div>
</div>
