<div class="container mt-3">
  <h2 class="dashboard-header">View Blogs</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Blog Subject</th>
        <th>Blog Content</th>
        <th>Author</th>
        <th>Category</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs" class="blog-row">
        <td>{{ blog.blogSubject }}</td>
        <td>{{ blog.blogContent }}</td>
        <td>{{ blog.authorName }}</td>
        <td>{{ blog.blogCategory }}</td>
        <td>{{ blog.postedDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
