@model dotnetapp.Models.Complaint

@using (Html.BeginForm("AddComplaint", "Complaint", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerName)
        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CustomerName)
    </div>
    <!-- Other fields for the complaint form -->

    <input type="submit" value="Submit" class="btn btn-primary" />
}
