<div class="container mt-3">
  <h2>Add New Blog</h2>
  <form (submit)="addBlog()" #blogForm="ngForm">
    <div class="form-group">
      <label for="blogSubject">Blog Subject:</label>
      <input type="text" class="form-control" id="blogSubject" name="blogSubject" [(ngModel)]="blog.blogSubject" required>
    </div>
    <div class="form-group">
      <label for="blogContent">Blog Content:</label>
      <textarea class="form-control" id="blogContent" name="blogContent" [(ngModel)]="blog.blogContent" required></textarea>
    </div>
    <div class="form-group">
      <label for="authorName">Author Name:</label>
      <input type="text" class="form-control" id="authorName" name="authorName" [(ngModel)]="blog.authorName" required>
    </div>
    <div class="form-group">
      <label for="blogCategory">Blog Category:</label>
      <input type="text" class="form-control" id="blogCategory" name="blogCategory" [(ngModel)]="blog.blogCategory" required>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="blog.date" required>
    </div>
    <button type="submit" class="btn btn-primary">Post Blog</button>
  </form>
</div>
